.tree-list{
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  background-color: #fff;
  z-index: 20;
  transition: transform .3s ease;
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }
  &--main{
    font-size: 20px;
    cursor: pointer;
    img,
    .tree-list_item {
      vertical-align: middle;
      color: #E0212C;
      &.disabled{
        color: #E0212C;
      }
    }
    img {
      margin-right: 10px;
    }
  }
  .icon-triangle{
    transition: transform .3s ease;
    margin-right: 5px;
  }
  .icon-triangle.rotate{
    transform: rotate(90deg);
  }
  &.hidePanel{
    transform: translateX(-100%);
    .icon-left{
      transform: rotate(180deg);
    }
  }
  &_container {
    min-width: 260px;
    max-width: 360px;
    overflow: auto;
    padding: 20px;
    > ul {
      background-color: #fff;
      li > div:not(:empty) {
        padding: 5px 0;
      }
    }
  }
  &_btn{
    position: absolute;
    left: 100%;
    padding: 40px 5px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 0 3px 3px 0;
  }
  &_item{
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.disabled{
      color: #999;
      cursor: not-allowed;
    }
  }
  &_empty{
    text-align: center;
    padding: 50px 60px;
    color: #666;
    font-size: 18px;
    img{
      max-width: 100%;
    }
  }
  &_cooperation{
    margin: 0 -20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    .input{
      display: flex;
      align-items: center;
      input[type="search"]{
        flex: 1;
        outline: none;
        border: 0;
        align-self: stretch;
        padding: 0 5px;
      }
    }
    .file{
      input[type="file"]{
        display: none;
      }
    }
    .button{
      display: inline-block;
      padding: 12px 10px;
      font-size: 14px;
      appearance: none;
      outline: none;
      align-self: stretch;
      border-top: 0;
      border-bottom: 0;
      color: #fff;
      background-color: #FF7F82;
      white-space: nowrap;
      cursor: pointer;
      &.submit{
        background-color: #3998F7;
        border-right: 0;
        border-left: 1px solid #e5e5e5;
      }
    }
  }
}