
.dui-toast {
  line-height: normal;
  * {
    box-sizing: border-box;
  }
  &-container {
    width: 100%;
    position: absolute;
    position: fixed;
    text-align: center;
  }
  &-wrap {
    display: inline-block;
    max-width: 90%;
    max-height: 80vh;
    background: rgba(#000, .65);
    overflow: hidden;
    box-sizing: border-box;
    padding: 1em 2em;
    border-radius: 1px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    p {
      margin: 0;
    }
  }
  &-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 101;
  }

  &--top {
    .dui-toast-container {
      top: 20%;
    }
  }
  &--center {
    .dui-toast-container {
      top: 50%;
    }
  }
  &--bottom{
    .dui-toast-container{
      bottom: 8%;
    }
  }

}

// toast动画
.dui-toast_fade {
  &-enter {
    opacity: 0;
    .dui-toast-container{
      transform: translateY(-30%);
    }
    &-active {
      opacity: 1;
      .dui-toast-container{
        transform: translateY(0);
        transition: transform .3s ease;
      }
      transition: opacity .3s ease-in;
    }
  }
  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      .dui-toast-container{
        transform: translateY(-30%);
        transition: transform .3s ease;
      }
      transition: opacity .3s ease;
    }
  }
}
