@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_894906_x2a4gvf0pg.eot');
  src: url('//at.alicdn.com/t/font_894906_x2a4gvf0pg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_894906_x2a4gvf0pg.woff') format('woff'),
  url('//at.alicdn.com/t/font_894906_x2a4gvf0pg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_894906_x2a4gvf0pg.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
}

.icon-triangle:before { content: "\e60b"; }

.icon-left:before { content: "\e6a8"; }
