.searchbar{
  position: relative;
  z-index: 20;
  &-input {
    input {
      appearance: none;
      outline: none;
      border: 0;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
    > p {
      font-size: 12px;
      font-style: normal;
      color: #666;
      padding-left: 10px;
    }
  }
  &-list {
    position: absolute;
    background-color: #fff;
    top: 40px;
    z-index: 2;
    margin: 0;
    list-style: none;
    padding: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 2px 2px;
    padding-bottom: 10px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    li {
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: background-color .3s ease;
      font-size: 14px;
      cursor: pointer;
      &:hover{
        background-color: #e6f7ff;
      }
      &.disabled{
        cursor: not-allowed;
        color: #999;
        &:hover{
          background-color: #fff;
        }
      }
    }
  }
}