#map {
  height: 100vh;
  .BMapLib_sendToPhone{
    display: none !important;
  }
}
.info-window {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  li {
    padding: 3px 0;
    color: #333;
    line-height: 1.65;
  }
}